---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - nodes
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dorgu.io
  resources:
  - applicationpersonas
  - clusterpersonas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dorgu.io
  resources:
  - applicationpersonas/finalizers
  - clusterpersonas/finalizers
  verbs:
  - update
- apiGroups:
  - dorgu.io
  resources:
  - applicationpersonas/status
  - clusterpersonas/status
  verbs:
  - get
  - patch
  - update
